*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

header{
    background-color: aliceblue;
    padding: 50px 0;
}

nav img{
    margin-right: 5rem;
    width: 5rem;
    height: 5rem;
}

nav ul li{
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 20px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover{
    border-color: black;
}

.uvod{
    display: flex;
    flex-direction: column;
    background-image: url('homeimg/novyuvod.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    min-height: 80vh;
    color: aliceblue;
    font-size: 2rem;
}

.uvod p{
    margin-top: 50rem;
    text-shadow: 1px 1px #000000;
}

.sipkadolu{
    background: transparent;
    padding: 10px 20px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    animation: moveUpDown 1s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.textoviblok{
    text-align: center;
    justify-content: center;
    margin: 14rem 20%;
}

.textoviblok p{
    text-align: center;
    padding-top: 1rem;
}

.smallgalerybox{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}

.smallgalerybox img{
    margin: 20px;
    cursor: pointer;
}

.smallgalerybox img:hover{
    opacity: 0.5;
}

.formular{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #000000), url(homeimg/formularimg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 40px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #d8d8d8;
    color: #d8d8d8;
    background: transparent;
    font-size: 1rem;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    color: #d8d8d8;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #d8d8d8;
    width: 100%;
    outline: none;
    background: transparent;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
